body {
    background-color: #6dd6c5;
}

#leaflet-app {
    display: grid;
    grid-template-rows: 1fr auto;
}

#map {
    height: 600px;
}

#map,
#form,
#data {
    border: 2px solid gray;
}

#control-panel {
    background-color: #6dd6c5;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    margin-top: 5px;
}

#form {
    background-color: khaki;
    display: grid;
    grid-template-columns: 1;
    gap: 5px;
    justify-items: center;
    padding: 5px;
}

#data {
    background-color: bisque;
    padding: 5px;
    max-height: 255px;
    overflow-y: auto;
    word-wrap: break-word;
}

input,
select,
button {
    width: 196px;
    height: 23px;
    font-size: 1rem;
    border-radius: 5px;
}

.heading1 {
    text-align: center;
    font-size: 115%;
}

.heading1,
.heading2 {
    font-weight: bolder;
}

.button {
    text-align: center;
}

/* Leaflet component styles a WIP */
/* popup modal */
.leaflet-popup-content-wrapper {
    color: #555;
    background-color: #6dd6c5;
    font-size: 16px;
    line-height: 24px;
}
.leaflet-popup-content-wrapper a {
    color: #555;
}
.leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}
.leaflet-popup-tip {
    background-color: #6dd6c5;
}

/* layer controls */
.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded {
    border: 2px solid #6dd6c5;
}

.leaflet-control-layers-toggle {
    background-image: url(../img/hamburger.png) !important;
    background-size: contain;
    width: 128px !important;
    height: 128px !important;
    border: 2px solid #6dd6c5 !important;
}

.leaflet-control-layers-toggle,
.leaflet-touch,
.leaflet-control-layers-expanded {
    padding: 6px;
    background-color: rgba(230, 230, 230, 0.846);
    line-height: 24px;
    color: #555;
}

.leaflet-control-layers-selector {
    width: 24px;
    height: 24px;
}

/* map legend */
.legend {
    padding: 6px;
    background-color: rgba(230, 230, 230, 0.846);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #6dd6c5;
    line-height: 24px;
    color: #555;
}
.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}
.legend i {
    width: 18px;
    height: 18px;
    float: right;
    opacity: 1;
    border: 1px solid #555;
}
