body {
    background-color: darkcyan;
}

#leaflet-app {
    display: grid;
    grid-template-rows: 1fr auto;
}

#map {
    height: 600px;
    border: 2px solid;
}

#control-panel {
    background-color: darkcyan;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    margin-top: 5px;
}

#form {
    background-color: khaki;
    border: 2px solid;
    display: grid;
    grid-template-columns: 1;
    gap: 5px;
    justify-items: center;
    padding: 5px;
}

#data {
    background-color: bisque;
    border: 2px solid;
    padding: 5px;
    max-height: 255px;
    overflow-y: auto;
}

input,
select,
button {
    width: 196px;
    height: 23px;
    font-size: 1rem;
    border-radius: 5px;
}

.heading1 {
    text-align: center;
    font-size: 115%;
}

.heading1,
.heading2 {
    font-weight: bolder;
}

.button {
    text-align: center;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}
.custom-popup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}
.custom-popup .leaflet-popup-tip {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2c3e50;
}
